
SRM/Guide d'étude/.DS_Store
.DS_Store
*.aux
*.log
*.out
*.gz
*.toc
IFM/Guide d'étude/Guide d'étude examen IFM (AJVR).CHPT
IFM/Guide d'étude/Guide d'étude examen IFM (AJVR)-MacBook Pro.CHPT
MAS-I/MAS-I revision/.vscode/settings.json
MAS-I/MAS-I revision/cheatsht-preamble-general.tex
MAS-I/MAS-I revision/cheatsht-preamble.tex
MAS-I/MAS-I revision/MAS-I Revision.pdf
MAS-I/MAS-I revision/MAS-I Revision.tex
MAS-I/MAS-I revision/normal-3.txt
MAS-I/MAS-I revision/normal.txt
MAS-I/MAS-I revision/simul.R
MAS-I/MAS-I revision/src/Illustration-skewness-and-kurtosis.png
MAS-I/MAS-I revision/src/skewness_interpretation.jpg
